{% extends 'base.html' %}

{% block content %}

    <h1>Update User</h1>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="post">
            <!-- The if statement in each section will display error messages if something goes wrong -->
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {% if form.name.errors %}
                {{ form.name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors%}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.name(class="form-control") }}
            {% endif %}

            
            {{ form.email.label(class="form-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors%}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control") }}
            {% endif %}


            <br>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>

{% endblock %}