{% extends 'base.html' %}

{% block content %}
    <script src="{{ url_for('static', filename='js/password_rules.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <h1>Registration Page</h1>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded register-div">
        <p>Password Rules:</p>
        <ol>
            {% set i = namespace(value=1) %}
            {% for validator in form.password_hash.validators[1:] %}
              <li id="rule{{i.value}}">{{validator.message}}</li>
              {% set i.value = i.value + 1 %}
            {% endfor %}
        </ol>
        <form class="register-form" method="post">
            <!-- The if statement in each section will display error messages if something goes wrong -->
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {% if form.name.errors %}
                {{ form.name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors%}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.name(class="form-control") }}
            {% endif %}

            
            {{ form.email.label(class="form-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors%}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control") }}
            {% endif %}
            
            <div class="input-container">
                {{ form.password_hash.label(class="form-label") }}
                {% if form.password_hash.errors %}
                    {{ form.password_hash(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password_hash.errors%}
                            <span>{{ error }}.</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password_hash(class="form-control") }}
                {% endif %}
                <i class="fa-solid fa-eye" id="eye1"></i>
            </div>
            
            <br>

            <div class="input-container">
                {{ form.password_hash2.label(class="form-label") }}
                {% if form.password_hash2.errors %}
                    {{ form.password_hash2(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password_hash2.errors%}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password_hash2(class="form-control") }}
                {% endif %}
                <i class="fa-solid fa-eye" id="eye2"></i>
            </div>
 
            <br>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
        </small>
    </div>

{% endblock %}