{% extends 'base.html' %}

{% block content %}
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='js/password_rules.js') }}"></script>

    <h1>Update User</h1>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <legend>User Info</legend>
        <form method="post">
            <!-- The if statement in each section will display error messages if something goes wrong -->
            {{ userUpdateForm.hidden_tag() }}

            {{ userUpdateForm.name.label(class="form-label") }}
            {% if userUpdateForm.name.errors %}
                {{ userUpdateForm.name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in userUpdateForm.name.errors%}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ userUpdateForm.name(class="form-control") }}
            {% endif %}

            
            {{ userUpdateForm.email.label(class="form-label") }}
            {% if userUpdateForm.email.errors %}
                {{ userUpdateForm.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in userUpdateForm.email.errors%}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {{ userUpdateForm.email(class="form-control") }}
            {% endif %}


            <br>
            {{ userUpdateForm.submit(class="btn btn-secondary") }}
        </form>
    </div>

    <button class="btn btn-outline-dark" id="change_password_btn" onclick="change_password_form_visibility()">Change Password</button>
    <br> <br>
    <div id="change_password" class="shadow p-3 mb-5 bg-body-tertiary rounded" style="display:none;">
        <legend>Update Password</legend>
        <p>Password Rules:</p>
        <ol>
            {% set i = namespace(value=1) %}
            {% for validator in changePasswordForm.password.validators[1:] %}
              <li id="rule{{i.value}}">{{validator.message}}</li>
              {% set i.value = i.value + 1 %}
            {% endfor %}
        </ol>
        <form method="post">
            {{ changePasswordForm.hidden_tag() }}

            {{ changePasswordForm.password.label(class="form-label") }}
            {% if changePasswordForm.password.errors %}
                {{ changePasswordForm.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in changePasswordForm.password.errors%}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ changePasswordForm.password(class="form-control") }}
            {% endif %}

            
            {{ changePasswordForm.confirm_password.label(class="form-label") }}
            {% if changePasswordForm.confirm_password.errors %}
                {{ changePasswordForm.confirm_password(class="form-control is-invalid", id="password") }}
                <div class="invalid-feedback">
                    {% for error in changePasswordForm.confirm_password.errors%}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {{ changePasswordForm.confirm_password(class="form-control", id="password") }}
            {% endif %}


            <br>
            {{ changePasswordForm.submit(class="btn btn-secondary") }}
        </form>
    </div>

    <a class="btn btn-danger" href="{{url_for('users.delete_user', id=current_user.id)}}">Delete User</a>

    <!-- <a class="btn btn-danger" id="delete_user_btn">Delete User</a> -->
    <br> <br>

    <!-- <script>
        var deleteBtn = document.getElementById("delete_user_btn");
        deleteBtn.onclick = function() {
          if (confirm("Are you sure you want to delete your account? This action cannot be undone.")) {
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", "{{ url_for('users.delete_user', id=current_user.id) }}");
            xhr.onreadystatechange = function() {
              if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                console.log("user deleted");
                document.location.reload()
              }
              if (this.status === 405) {
                console.error("405");
                document.location.href = "{{url_for('main.home')}}";
              }
            };
            xhr.send();
          }
        };
      </script> -->

{% endblock %}