<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="shadow p-5 mb-5 bg-body-tertiary rounded">
    <div class="right">
        <a class="btn btn-secondary" href="{{url_for('recipes.view_recipe', id=recipe.id)}}">View Recipe</a>
        {% if current_user.id == recipe.user_id %}
            <a class="btn btn-secondary" href="{{url_for('recipes.edit_recipe', id=recipe.id)}}">Edit Recipe</a>
        {% endif %}
    </div>
    <h2>{{recipe.name}}</h2>
    <p><strong>Author:</strong> {{recipe.user.name}}</p>
    <p><strong>Description:</strong> {{recipe.description}}</p>
    <p>
        <strong>Categories:</strong>
        {% for category in recipe.categories %}
            <a href="{{url_for('recipes.view_recipes_by_category', name=category.name)}}">{{category.name}}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p><strong>Date Added:</strong> {{recipe.date_added.strftime('%d/%m/%Y')}}</p>
    {% if current_user.id == recipe.user_id %}
        <div class="right">
            <a class="btn btn-danger" href="{{url_for('recipes.delete_recipe', id=recipe.id)}}">Delete Recipe</a>
        </div>
    {% endif %}
</div>
