{% extends 'base.html' %}

{% block content %}
    <script src="{{ url_for('static', filename='js/categories.js') }}"></script>

    <h1>Edit Recipe</h1>
    <h3>Categories:</h3>

    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="post">
            {{ form.hidden_tag() }}

            <table id="categories-table" class="table table-bordered">
                <thead>
                    <th>Category</th>
                    <th>Remove</th>
                </thead>
        
                <tbody>
                    {% set category_count = namespace(value=0) %}
                    {% for entry in form.categories %}
                        <tr>
                            <td><input type="text" name="categories-{{ category_count.value }}-category" class="form-control" value="{{  entry.category.data }}" required></td>
                            <td><input type="button" value="Remove" onclick="delete_categories_row(this)"></td>
                        </tr>
                        {% set category_count.value = category_count.value + 1 %}
                    {% endfor %}
                </tbody>
            </table>

            {% set unique_errors = [] %}
            {% for field_name in form.errors %}
                {% for error in form.errors[field_name] if error.get("category") %}
                    {% set message = error.get("category")[0] %}
                    {% if message not in unique_errors %}
                        <span style="color: red;">{{ message }}</span>
                        <br> <br>
                        {% set _ = unique_errors.append(message) %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <input type="button" value="Add Category" onclick="add_categories_row()">

            <br> <br>

            {{ form.submit(class="btn btn-secondary") }}
        </form>

    </div>

{% endblock %}