{% extends 'base.html' %}

{% block content %}
    <script src="{{ url_for('static', filename='js/ingredients.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_recipe.css') }}">

    <h1>Add Recipe</h1>
    <h3>Ingredients:</h3>
    <p style="color: red;">{{exception}}</p>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="post">
            {{ form.hidden_tag() }}

            <table id="ingredients-table" class="table table-bordered">
                <thead>
                    <th>Ingredients</th>
                    <th>Amount</th>
                    <th>Unit</th>
                    <th>Remove</th>
                </thead>

                <tbody>
                    {% for entry in form.ingredients %}
                        <tr>
                            <td>{{ entry.ingredient(class="form-control") }}</td>
                            <td>{{ entry.amount(class="form-control") }}</td>
                            <td>{{ entry.unit(class="form-control") }}</td>
                            <td><input type="button" value="Remove" onclick="delete_ingredient_row(this)"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="button" value="Add Row" onclick="add_ingredient_row()">
            <br> <br>

            {{ form.submit(class="btn btn-secondary", value="Next") }}
        </form>
    </div>

{% endblock %}