{% extends 'base.html' %}

{% block content %}

    <h1>Add Recipe</h1>
    <h3>Name and Description:</h3>
    <p style="color: red;">{{exception}}</p>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="post" enctype="multipart/form-data">
            <!-- by putting the class section in () it replaces  <input class="form-control"> -->
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}

            <br>

            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}

            <br>

            {{ form.images.label(class="form-label") }}
            {{ form.images(class="form-control") }}
            {% for error in form.images.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>

            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>

{% endblock %}