{% extends 'base.html' %}

{% block content %}
    <script src="{{ url_for('static', filename='js/categories.js') }}"></script>

    <h1>Add Recipe</h1>
    <h3>Categories:</h3>
    <p style="color: red;">{{exception}}</p>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="post">
            {{ form.hidden_tag() }}

                        <table id="categories-table" class="table table-bordered">
                <thead>
                    <th>Category</th>
                    <th>Remove</th>
                </thead>

                <tbody>
                    {% for entry in form.categories %}
                        <tr>
                            <td>{{ entry.category(class="form-control") }}</td>
                            <td><input type="button" value="Remove" onclick="delete_categories_row(this)"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="button" value="Add Category" onclick="add_categories_row()">
            <br> <br>

            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>

{% endblock %}