{% extends 'base.html' %}

{% block content %}
    <script src="{{ url_for('static', filename='js/ingredients.js') }}"></script>
    <script src="{{ url_for('static', filename='js/instructions.js') }}"></script>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <h1>Add Recipe</h1>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="post">
            <!-- by putting the class section in () it replaces  <input class="form-control"> -->
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}

            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}

            <br>

            <table id="ingredients-table" class="table table-bordered">
                <thead>
                    <th>Ingredients</th>
                    <th>Amount</th>
                    <th>Unit</th>
                    <th>Remove</th>
                </thead>

                <tbody>
                    {% for entry in form.ingredients %}
                        <tr>
                            <td>{{ entry.ingredient(class="form-control") }}</td>
                            <td>{{ entry.amount(class="form-control") }}</td>
                            <td>{{ entry.unit(class="form-control") }}</td>
                            <td><input type="button" value="Remove" onclick="delete_ingredient_row(this)"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="button" value="Add Row" onclick="add_ingredient_row()">
            <br> <br>

            {{ form.categories.label(class="form-label") }}
            {{ form.categories(class="form-control") }}

            <br>

            <table id="instructions-table" class="table table-bordered">
                <thead>
                    <th>Instruction</th>
                    <th>Remove</th>
                </thead>

                <tbody>
                    {% for entry in form.instructions %}
                        <tr>
                            <td>{{ entry.instruction(class="form-control") }}</td>
                            <td><input type="button" value="Remove" onclick="delete_instruction_row(this)"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="button" value="Add Row" onclick="add_instruction_row()">
            <br> <br>

            {{ form.submit(class="btn btn-secondary") }}
        </form>

        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}
    </div>

{% endblock %}