{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <h1>Latest Recipes</h1>
    {% for recipe in recipes %}
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="right">
                <a class="btn btn-secondary" href="{{url_for('view_recipe', id=recipe.id)}}">View Recipe</a>
            </div>
            <h2>{{recipe.name}}</h2>
            <p><strong>Description:</strong> {{recipe.description}}</p>
            <p><strong>Categories:</strong> {{recipe.categories}}</p>
        </div>
    {% endfor %}

{% endblock %}