{% extends 'base.html' %}

{% block content %}

    <h1>Login!</h1>
    <br>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="post">
            <!-- USING THE NameForm CLASS IN index.py -->
            <!-- by putting the class section in () it replaces  <input class="form-control"> -->
            {{ form.hidden_tag() }}

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}

            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}

            <br>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
        <br>
        <small class="text-muted">
            <a class="ml-2" href="#">Forgot Password</a>
        </small>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Don't Have An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>
        </small>
    </div>

{% endblock %}