{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        {% if current_user.id == recipe.user_id %}
            <div class="right">
                <a class="btn btn-danger" href="{{url_for('delete_recipe', id=recipe.id)}}">Delete Recipe</a>
            </div>
        {% endif %}
        <h2>{{recipe.name}}</h2>
        <p><strong>Description:</strong> {{recipe.description}}</p>
        <br>
        <p><strong>Ingridients:</strong>
        <p>{{recipe.ingridients|safe}}</p>
        <br>
        <p><strong>Instructions:</strong>
        <p>{{recipe.instructions|safe}}</p>

    </div>

{% endblock %}